/* reset */
*{
	padding:0;
	margin:0;
	border: 0;
	box-sizing: border-box;
}

/* variables */
$maximum-width: 1000px;
$mobile-width: 767px;

$solid-color: #fbcb14;


/* mixins */
@mixin clearfix(){
	content : "";
	clear: both;
	display: table;
	width: 100%;
}

.section_headertitle,
.section_maincontent,
.section_asidecontent,
.section_footercontent{
	max-width: $maximum-width;
}

header,
footer{
	width: 100%;
	background: $solid-color;
}  

section:after,
section:before{
	@include clearfix();
} 

section{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px;

	main,
	aside{
		float: left;
		border: 1px solid red;

		@media (max-width: $mobile-width){
			width: 100%;
			margin-bottom: 10px;
		}
	}
}


main{
	width: 70%;
}

aside{
	width: 30%;
}